@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #26292e;
  text-wrap: pretty;
}

.nav-link {
  @apply px-4 py-3 font-medium text-blue underline hover:text-red;
}

.btn-primary {
  @apply flex items-center justify-center gap-1 rounded border-2 border-blue px-4 py-3 text-center font-bold text-blue hover:bg-[#F2F5F8];
}

.shadow-card-home {
  box-shadow: 5px 1px 30px 0 rgba(133, 169, 211, 0.3);
}
